%div.groupHeader
  %div.groupHeader__groupName aaa
  %div.groupHeader__groupMember bbb
  %a edit
%div.messages
  %div.messages__list
    %div.messages__list__userName aaa
    %div.messages__list__sentTime bbb
    %div.messages__list__message ccc
    %div.messages__list__userName aaa
    %div.messages__list__sentTime bbb
    %div.messages__list__message ccc
    %div.messages__list__userName aaa
    %div.messages__list__sentTime bbb
    %div.messages__list__message ccc
    %div.messages__list__userName aaa
    %div.messages__list__sentTime bbb
    %div.messages__list__message ccc
%div.submit
  / =form?  .submit__message
  / =form?  .submit__button
