.groupHeader
  .groupHeader__groupName aaa
  .groupHeader__groupMember bbb
  .groupHeader__groupEdit
    = link_to 'Edit', ''
.messages
  .messages__list
    = render partial: "messages"
.submit
  %form.submit__form
    .submit__form__inputArea
      %input{type: "text", placeholder: "Type a message" }
      %i.fa.fa-image.submit__form__inputArea__image
    .submit__form__sendButton
      %input{ type: "submit", value: "Send" }
