.myStatus
  .myStatus__userName aaa
  = icon('edit', class: 'myStatus__createGroup')
  = icon('cog', class: 'myStatus__editAccount')
.groups
  %ul.groups__list
    %li.groups__list__item
      .groups__list__item__groupName bbb
      .groups__list__item__latestMessage ccc
    %li.groups__list__item
      .groups__list__item__groupName bbb
      .groups__list__item__latestMessage ccc

