%div.mystatus
  %p.user-name aaa
  = icon('edit', class: 'group-edit')
  = icon('cog', class: 'account-setting')
%div.group-list-container
  %ul.group
  %li.group__list
    %p.group-name bbb
    %p.latest-message ccc
  %li.group__list
    %p.group-name bbb
    %p.latest-message ccc

