.myStatus
  .myStatus__userName aaa
  = link_to(content_tag(:i, '', class: 'fa fa-edit myStatus__createGroup'), '')
  = link_to(content_tag(:i, '', class: 'fa fa-cog myStatus__editAccount'), edit_user_path(current_user.id))
.groups
  %ul.groups__list
    %li.groups__list__item
      .groups__list__item__groupName bbb
      .groups__list__item__latestMessage ccc
    %li.groups__list__item
      .groups__list__item__groupName bbb
      .groups__list__item__latestMessage ccc
