%div.mystatus
  %p.user-name aaa
%div.group-list-container
  %ul.group
  %li.group__list
    %p.group-name bbb
    %p.latest-message ccc
  %li.group__list
    %p.group-name bbb
    %p.latest-message ccc

