%div.myStatus
  %div.myStatus__userName aaa
  = icon('edit', class: 'myStatus__createGroup')
  = icon('cog', class: 'myStatus__editAccount')
%div.group
  %ul.group__list
    %li.group__list__item
      %div.group__list__item__groupName bbb
      %div.group__list__item__latestMessage ccc
    %li.group__list__item
      %div.group__list__item__groupName bbb
      %div.group__list__item__latestMessage ccc

